asgiref==3.8.1
blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Babel==4.0.0
gunicorn==23.0.0
icalendar==5.0.13
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
python-dateutil==2.9.0
pytz==2024.2
schedule==1.2.2
six==1.16.0
SQLAlchemy==2.0.34
sqlparse==0.5.1
typing_extensions==4.12.2
Werkzeug==3.1.6
WTForms==3.1.2
WTForms-SQLAlchemy==0.4.1

flask-compress==1.15
brotli==1.1.0
Flask-Caching==2.3.0
alembic~=1.13.3
python-telegram-bot~=21.10
python-dotenv==1.0.1
email-validator==2.1.1
openpyxl==3.1.5
Pillow==9.5.0